/* === OVERALL LAYOUT RULES === */

.header {
  background-color: var(--basic-color);
  height: 75px;
  margin: 0 auto;
  outline: 1px solid var(--neutral-color);
}

.main {
  display: flex;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .main {
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    width: 480px;
  }

  .main {
    flex-direction: column;
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 100px;
    width: 960px;
  }

  .main {
    flex-direction: row;
    width: 960px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}
