.top__nav {
  background-color: var(--nav-color);
  outline: 1px solid var(--neutral-color);
}

.teaser__item {
  background-color: var(--accent-color);
  outline: 1px solid var(--neutral-color);
}

.box {
  outline: 1px solid var(--neutral-color);
}

.footer {
  background-color: var(--secondary-color);
  outline: 1px solid var(--neutral-color);
}

.top__nav {
  display: flex;
  height: 150px;
  justify-content: center;
}

.teasers {
  display: flex;
  flex: 0 0 auto;
}

.teaser__item {
  display: flex;
  height: 125px;
  justify-content: center;
}

.boxes {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 20vh;
}

.box:nth-of-type(1) {
  --shift: 50;
}

.box:nth-of-type(2) {
  --shift: 70;
}

.box:nth-of-type(3) {
  --shift: 90;
}

.box:nth-of-type(4) {
  --shift: 150;
}

.box {
  --primary-color: hsl(
    calc(var(--shift) + var(--primary-color-h)),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  background-color: var(--primary-color);
}

@media only screen and (max-width: 480px) {
  .teasers {
    flex: 1 1 auto;
    flex-direction: column;
  }

  .boxes {
    flex: 1 1 auto;
  }

  .box {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .teasers {
    flex-direction: column;
    width: 100%;
  }

  .boxes {
    width: 100%;
  }

  .box {
    height: 250px;
    width: 50%;
  }

  .footer {
    height: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .top__nav {
    flex: 0 0 200px;
    height: 600px;
    width: 200px;
  }

  .teasers {
    flex-direction: row;
    min-width: 760px;
  }

  .teaser__item {
    height: 200px;
    flex: 0 0 50%;
    /* width: 50%; */
  }

  .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 760px;
  }

  .box {
    height: 250px;
    flex: 0 0 25%;
  }

  .footer {
    height: 150px;
    width: 100%;
  }
}
